@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Titles-font;
  src: url("./fonts/JosefinSans-Regular.ttf");
}

/* costumize vertical scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000b9;
  border-radius: 10px;
}

.html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/*
colors:
#203647
#63727E
rgba(255, 255, 255, 0.30)
#ffffff
#D9D9D9
#000000
*/

.persenolize {
  left: 54rem;
}
.persenolize2 {
  bottom: 28rem;
  left: 40rem;
}

.box {
  height: 6.5rem;
  width: 6.5rem;
}

.bg-secondary {
  background-color: #63727e !important;
}

.bg-secondary2 {
  background-color: #d9d9d9 !important;
}

.bg-secondary-transparent {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.bg-primary-transparent {
  background-color: rgba(32, 54, 71, 0.884) !important;
}

.bg-primary {
  background-color: #203647 !important;
}

.text-primary {
  color: #203647 !important;
}

.link-active {
  color: #63727e !important;
}

.navbar-Items {
  /* change the color of the navbar items with ease */
  transition: 0.5s;
}

.navbar-font {
  font-family: Titles-font;
}

.navbar-Items:hover {
  /* change the color of the navbar items when hovered with ease */
  transition: 0.5s;
  color: #63727e;
}

.last-name {
  /*remove the color and make a black stroke*/
  color: transparent;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: #000;
}

.h-1-2 {
  height: 0.35rem;
}

.bg-img {
  /* background image and a white transparent on top */
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url("./assets/bg-AI.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Animate-humberger-navbar-menu {
  /* animate the humberger navbar menu */
  animation: animate-humberger-navbar-menu 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: normal;
}

@keyframes animate-humberger-navbar-menu {
  0% {
    transform: translateX(650%);
  }
  100% {
    transform: translateX(140%);
  }
}

/* now animate the humberger navbar menu when it's closed */
.Animate-humberger-navbar-menu-closed {
  animation: animate-humberger-navbar-menu-closed 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: normal;
}

@keyframes animate-humberger-navbar-menu-closed {
  0% {
    transform: translateX(140%);
  }
  100% {
    transform: translateX(650%);
  }
}